body {
    font-family: 'Manrope', sans-serif;
    background: #f7e8ec;
    color: black;
    margin: 0;
}

/*HEADER*/
header {
    font-size: 1.3em;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 25px;
    position: sticky;
    top: 0;
    left: 0;
    padding-bottom: 5px;
    background: linear-gradient(#b96c82, #f8e5e9);
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 20px;
    text-shadow: 3px 3px 5px #944456;
    border: 2px solid #e799ac;
    border-radius: 5px;
    background: #e799ac;
    transition-property: transform;
    transition-duration: 200ms;
    /*aussi juste -> transition: transform 200ms; */
    &:hover { /*pour mettre une pseudo-classe à cet élément et facilité la lecture du code*/
        transform: scale(1.05);
    }
    &:active {
        transform: scale(1);
    }
}

header .logo {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 5px;
}

/*MAIN*/
main {
    margin: 30px;
}

section {
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    margin-bottom: 5px;
}

h2 {
    color: rgb(85, 85, 85);
    font-style: italic;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8em;
    margin-top: 0px;

}

h3 {
    font-size: 1.5em;
}

.fr {
    margin-bottom: 5px;
    font-size: 1.2em;
}

.en {
    color: rgb(85, 85, 85);
    font-style: italic;
    font-size: 1em;
    margin-top: 0px;
}

.cv {
    display: grid;
    justify-content: center;
    gap: 10px;
    grid-template-columns: 45% 45%;
    grid-template-rows: 80px 100px 300px 80px 300px;
}

.exp_h {
    grid-column: 1/3;
    border-bottom: 2px solid #b96c82;
    border-left: 2px solid #b96c82;
    padding-left: 8px;
}
.exp {
    grid-column: 1/3;
    grid-row: 2/4;
}
.form_h {
    grid-column: 1;
    grid-row: 4;
    border-bottom: 2px solid #b96c82;
    border-left: 2px solid #b96c82;
    padding-left: 8px;
}
.form {
    grid-column: 1;
    grid-row: 5;

}
.compet_h {
    grid-column: 2;
    grid-row: 4;
    border-bottom: 2px solid #b96c82;
    border-left: 2px solid #b96c82;
    padding-left: 8px;
}
@media screen and (max-width: 945px) {
    .compet_h span{
        display: none;
    }
}
.compet {
    grid-column: 2;
    grid-row: 5;
}
.panic {
    grid-column: 2;
    grid-row: 3;
    padding-left: 30%;
}
@media screen and (max-width: 1050px) {
    .panic{
        display: none;
    }
}
img {
    width: 350px;
}